body {
      background-color: #121212;
      color: white;
      font-family: "Segoe UI", sans-serif;
      text-align: center;
    }

    h1 {
      margin-top: 30px;
    }

    #nodes {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 60px;
    }

    #tree {
      display: block;
      margin: 20px auto;

      border: 2px solid white;
      border-radius: 10px;
    }

    .node {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 18px;
      transition: background 0.5s ease;
    }

    .visited {
      background: limegreen;
    }

    button {
      margin-top: 40px;
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      background-color: #2196f3;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s;
    }

    button:hover {
      background-color: #42a5f5;
    }