<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DFS Visualizer</title>
  <link rel="stylesheet" href="/static/style.css" />
  <script src="/static/script.js" defer></script>
</head>

<body>
  <h1>Tree Traversal Visualizer</h1>
  <button id="drawBtn">Custom Tree</button>
  <svg id="tree" width="80%" height="600px"></svg>
  <div class="button-row">
    <button id="dfsBtn">Run DFS</button>
    <button id="bfsBtn">Run BFS</button>
  </div>
</body>

</body>
</html>
